
#pinemOverlay, #boardOverlay {
  width : 100% !important;
  z-index: 100000;
  height: document.height();
  position : absolute !important;
  top : 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: #eee !important;  
  text-align: center !important;
}

#pinemTopBar {
  width: 100%;
  text-align: center !important;
  height: 50px !important;
  padding-top: 10px !important;  
  margin-bottom: 10px !important;
  background-color: #fbf7f7!important;
  box-shadow: 0 1px 2px #aaa!important;
  border-bottom: 1px solid #aaa!important;
}

#submit-images {
  text-align: right;
}

.pinemImageContainer { 
  -moz-box-shadow: 0 0 2px #555!important;
  -webkit-box-shadow: 0 0 2px #555!important;
  box-shadow: 0 0 2px #555!important;
  overflow: hidden!important;
  height : 200px !important;
  width : 200px !important;
  margin: 10px !important;
  display: inline-block!important
}

.pinemImage, #selectedImage { 
  cursor: pointer !important;
  height : 200px !important;
  width : 200px !important;
}

.pinemImageContainer:hover {
}

.PinBookmarklet {
  box-sizing: border-box;
  color: rgb(33, 25, 34);
  display: block;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-size: 11.818181991577148px;
  height: 115.90908813476563px;
  margin-bottom: 14px;
  margin-left: 274.5454406738281px;
  margin-right: 274.5454406738281px;
  margin-top: 14px;
  padding-bottom: 0px;
  padding-left: 13.991477012634277px;
  padding-right: 13.991477012634277px;
  padding-top: 0px;
  width: 750px;
}

.PinCreate.fluid {
  position: relative;
}

.PinBookmarklet .Module {
background: #fff;
}

.PinCreate.fluid.Module.inModal {
  border-top-color: rgb(223, 223, 223);
  border-top-style: solid;
  border-top-width: 0.9090908765792847px;
  background-color: rgb(255, 255, 255);
  color: rgb(33, 25, 34);
  display: list-item;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-size: 11.818181991577148px;
  height: 85px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 15px;
  padding-left: 17.99715805053711px;
  padding-right: 20.99431800842285px;
  padding-top: 15px;
  text-align: center;
  width: 1093.1107177734375px;
}

.PinCreate.fluid {
  position: relative;
}


#test {
  top : 0 !important;
  left: 0 !important;
  right: 0 !important;
}

