
#pinemOverlay, #boardOverlay {
  background-color: #eee;  
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

#pinemTopBar {
  background-color: #fbf7f7;
  box-shadow: 0 1px 2px #aaa;
  border-bottom: 1px solid #aaa;
  display: block;
  height: 50px;
  margin-bottom: 10px;
  padding-top: 10px;  
  text-align: center;
  width: 100%;
}

#submit-images {
  display: block;
}

.pinemImageContainer { 
  box-shadow: 0 0 2px #555;
  display: inline-block;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  width: 200px;
}

.pinemImage, #selectedImage { 
  cursor: pointer;
  height: 200px;
  width: 200px;
}

.pinemImageContainer:hover {
}

.boardPickerItem.active {
  background: #cb2027;
}

.pinemData {
  height: 200px;
  display: inline-block;
  position: relative;
  width: 200px;
}
.imgSize {
  background-color: rgba(255, 255, 255, 0.74902);
  background-position: 180px 3px;
  bottom: 0px;
  color: rgb(0, 0, 0);
  display: block;
  font-family: 'hevetica neue', arial, san-serif;
  font-size: 10px;
  height: 22px;
  left: 0px;
  line-height: 24px;
  position: absolute;
  right: 0px;
  text-align: center;
  width: 200px;
}

#test {
  top: 0;
  left: 0;
  right: 0;
}

